body {
  background-color: red;
  background-image: url(d84be477ef7af7fbc9829bb69cef50a3.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh; }

.botao {
  background-color: #fff;
  color: #19B3E6;
  font-size: 1.8em; }

